[submodule "nvd3"]
	path = assets/nvd3
	url = git://github.com/novus/nvd3.git
[submodule "humane"]
	path = assets/humane
	url = git://github.com/wavded/humane-js.git
[submodule "assets/font-awesome"]
	path = assets/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "assets/spin"]
	path = assets/spin
	url = git://github.com/fgnass/spin.js.git
[submodule "assets/moment"]
	path = assets/moment
	url = git://github.com/timrwood/moment.git
[submodule "assets/abaaso"]
	path = assets/abaaso
	url = git://github.com/avoidwork/abaaso.git
