$spacer: 20pt;
$fontsize: 20pt;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14pt;
	font-family: "Josefin Sans", helvetica, arial;

	> * {
		margin: 10pt;
	}
}

footer {
	margin-top: $spacer;
}

h1,
h2,
h2,
h2,
h2,
h6 {
	margin: 0 0 $spacer 0;
	padding: 0;
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	margin: 0;
}

.hidden {
	display: none;
}