$spacer: 20pt;
$fontsize: 20pt;
$color: #666;
$hover: #000;

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14pt;
	font-family: "Josefin Sans", helvetica, arial;

	> * {
		margin: 10pt;
	}
}

article {
	display: inline-block;
}

a {
	color: $color;
	text-decoration: none;

	&:hover {
		color: $hover;
	}
}

ul {
	margin: 0 0 $spacer 0;
	padding: 0 0 0 0;

	li {
		list-style: none;
		margin: 0 0 ($spacer / 4) 0;
	}
}

footer {
	margin-top: ($spacer * 2);
	clear: both;
}

h1,
h2,
h2,
h2,
h2,
h6 {
	margin: 0 0 $spacer 0;
	padding: 0;
}

.banner {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	margin: 0;
}

.chart {
	width: 400px;
	height: 400px;
	margin: 0 $spacer $spacer 0;
	float: left;
}

.col {
	float: left;
	width: 400px;
	margin-right: $spacer;

	.icon {
		font-size: ($fontsize / 2);
	}
}

.hidden {
	display: none;
}

.repo {
	display: inline-block;
	width: 200px;
}

#charts {
	display: block;
}

#contact {
	display: inline-block;
	margin-bottom: $spacer;
	font-size: ($fontsize * 1.5);

	li {
		display: inline-block;
		margin: 0 0 0 0;

		a {
			&.blog:hover {
				color: #FF8100;
			}

			&.email:hover {
				color: #A60000;
			}

			&.github:hover {
				color: #ccc;
			}

			&.twitter:hover {
				color: #086FA1;
			}
		}
	}
}

.CommitCommentEvent {
	border-bottom: 2px solid #FF0000;
}

.CreateEvent {
	border-bottom: 2px solid #FF7400;
}

.DeleteEvent {
	border-bottom: 2px solid #009999;
}

.DownloadEvent {
	border-bottom: 2px solid #00CC00;
}

.FollowEvent {
	border-bottom: 2px solid #FFF141;
}

.ForkEvent {
	border-bottom: 2px solid #A1F73F;
}

.ForkApplyEvent {
	border-bottom: 2px solid #FFBB00;
}

.GistEvent {
	border-bottom: 2px solid #A7A500;
}

.GollumEvent {
	border-bottom: 2px solid #7B005D;
}

.IssueCommentEvent {
	border-bottom: 2px solid #450070;
}

.IssuesEvent {
	border-bottom: 2px solid #5F15F6;
}

.MemberEvent {
	border-bottom: 2px solid #EA0043;
}

.PublicEvent {
	border-bottom: 2px solid #2AF000;
}

.PullRequestEvent {
	border-bottom: 2px solid #41D988;
}

.PullRequestReviewCommentEvent {
	border-bottom: 2px solid #3FA9CD;
}

.PushEvent {
	border-bottom: 2px solid #046889;
}

.TeamAddEvent {
	border-bottom: 2px solid #F09C45;
}

.WatchEvent {
	border-bottom: 2px solid #7BB000;
}
